body {
    font-family:"Arial",sans-serif;
    background-color:#fafafa;
    margin:0;
    padding:0;
    color:#555;
    line-height:1.6;
}

section{
    margin:1rem;
}

header{
    background-color:lightblue;
    text-align:center;
    padding:1.5em 0;
    min-height:6rem;
}

.introduction{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.content{
    position:relative;
    display:flex;
    /* width:80%; */
    /* justify-content:center; */
    /* margin:1rem; */
}

.subsection{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:25%;
    margin:1rem;
    background-color: lightblue;
}

.comment form{
    display:flex;
    /* flex-direction: column; */
}

ul{
    padding:0;
    margin:0;
}

li{
    list-style: none;
}

img {
    height:9rem;
    width:9rem;
}